body {
    margin: 0;
    font-family: 'Times New Roman' , Times, serif;
    font-size: 1rem;
    color: #212529;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
/*bagian header*/
.wrap .header{
	background-color: plum;
	/*height: 50px;*/
	padding: 1px 10px;
}

 
.clear{
	clear: both;
}
 
.badan{
	height: 1000px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: lightpink;
	float: left;	
	width: 12%;
	height: 110%;
}
 
/*akhir sidebar*/
 
.wrap .badan .content{
	background: lightgoldenrodyellow;
	float: left;
	height: 110%;
	width: 88%;	
}
 
.wrap .footer{
	width: 100%;
	padding: 30px;
	background-color: plum;
}